#left-col {
	background-color: red;
	height: 600px;
	-webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);

}

#control {
	height: 290px;
	-webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

#playlist {
	height: 290px;
	-webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

.top-section {
	margin: 40px auto;
}

.title-banner {
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
	color: white;
}

#control {
	margin-bottom: 20px;
}

#left-col .title-banner {
	background-color: #4CAF50;
}

#control .title-banner {
	background-color: #00BCD4;
}

#playlist .title-banner {
	background-color: #448AFF;
}

.the-panel {
	padding: 20px;
}

.control-btn {
	height: 56px;
	margin-bottom: 20px;
	line-height: 56px;
	text-align: center;
	padding: 0;
}

.control-btn a {
	color: white;
	width: 100%;
	height: 100%;
	display: block;
	font-size: 1em;
}

.control-btn a:hover {
	text-decoration: none;
	-webkit-box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
}

span.icon-text {
	margin-left: 10px;
}

#ctrl-btn-play {
	background-color: #8BC34A;
}

#ctrl-btn-pause {
	background-color: #7B1FA2;
}

#ctrl-btn-stop {
	background-color: #F44336;
}

#ctrl-btn-step-backward {
	background-color: #00BCD4;
}

#ctrl-btn-backward {
	background-color: #00BCD4;
}

#ctrl-btn-step-forward {
	background-color: #009688;
}

#ctrl-btn-forward {
	background-color: #009688;
}

#ctrl-btn-mute {
	background-color: #607D8B;
}

#ctrl-btn-unmute {
	background-color: #4CAF50;
}

#clear-btn {
	height: 40px;
	margin-bottom: 20px;
	line-height: 40px;
	text-align: center;
	padding: 0;
	background-color: #FFA000; 
	color: white;
	font-size: 1em;
}

#clear-btn:hover {
	text-decoration: none;
	-webkit-box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
}