.custom-btn {
	font-size: 1em;
	border: none;
	outline: none;
	cursor: pointer;
}

.custom-btn:hover {
	-webkit-box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 34px -16px rgba(0,0,0,1);
}

#player {
	height: 420px;
}

@media (min-width:1200px) and (max-width: 2500px) {
    #player {
		height: 500px;
	}  
}

#control {
	height: 290px;
}

#left-col, #playlist, #control {
	overflow: hidden;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}

.top-section {
	margin: 40px auto;
}

.title-banner {
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
	color: white;
}

#control {
	margin-bottom: 20px;
}

#left-col .title-banner {
	background-color: #4CAF50;
}

#control .title-banner {
	background-color: #00BCD4;
}

#playlist .title-banner {
	background-color: #448AFF;
}

.the-panel {
	padding: 20px;
}

.control-btn {
	height: 56px;
	margin-bottom: 20px;
	color: white;
}

span.icon-text {
	margin-left: 10px;
}

#ctrl-btn-play {
	background-color: #8BC34A;
}

#ctrl-btn-pause {
	background-color: #7B1FA2;
}

#ctrl-btn-stop {
	background-color: #F44336;
}

#ctrl-btn-step-backward {
	background-color: #00BCD4;
}

#ctrl-btn-backward {
	background-color: #00BCD4;
}

#ctrl-btn-step-forward {
	background-color: #009688;
}

#ctrl-btn-forward {
	background-color: #009688;
}

#ctrl-btn-mute {
	background-color: #607D8B;
}

#ctrl-btn-unmute {
	background-color: #4CAF50;
}

#add-btn {
	height: 40px;
	width: 60px;
	background-color: #8BC34A;
	color: white; 
}

#clear-btn {
	height: 40px;
	margin-bottom: 20px;
	background-color: #FFA000; 
	color: white;
}

.input-group-addon {
	padding: 0;
	border: none;
	overflow: hidden;
}

#vid-input {
	height: 40px;
}

#vid-input-group {
	margin-bottom: 20px;
}

#errLbl {
	color: red;
}

.list-row {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-height: 60px;
	margin-bottom: 20px;
	overflow: hidden;
}

.row-content {
	padding: 0;
	background-color: white;
	border: none;
	text-align: left;
}

.row-content:hover {
	color: green;
}

.del-btn {
	padding: 0;
	text-align: center;;
	background: white;
	color: red;
	height: 40px;
}

.del-btn:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid red;
	border-radius: 4px;
}